<div class="doc-wrapper">
  <div class="container">
    <div id="doc-header" class="doc-header text-center">
      <h1 class="doc-title">
        <i class="icon fa fa-paper-plane"></i> Getting Started
      </h1>
    </div>
    <div class="doc-body row">
      <div class="doc-content col-md-9 col-12 order-1">
        <div class="content-inner">
          {% assign docs = site.docs | sort: "order" %} {% for doc in docs %}
          <section id="{{ doc.title | downcase }}-section" class="doc-section">
            <h2 class="section-title">{{ doc.title }}</h2>
            {{ doc.content }}
          </section>
          {% endfor %} {% include license.html %} {% include credits.html %}
        </div>
      </div>
      <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
        <div id="doc-nav" class="doc-nav" style="position: relative;">
          <nav
            id="doc-menu"
            class="nav doc-menu flex-column sticky"
            style="padding: 30px;"
          >
            {% for doc in docs %}
            <a
              class="nav-link scrollto"
              href="#{{ doc.title | downcase }}-section"
            >
              {{ doc.title }}
            </a>
            {% endfor %}
            <a class="nav-link scrollto" href="#license-section">License</a>
            <a class="nav-link scrollto" href="#credits-section">Credits</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
