<!DOCTYPE html>
<!-- 

	"I am because we are"

 -->
<html lang="en">
  <head>
    {% include meta.html %}
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
      integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
      crossorigin="anonymous"
    ></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/elegant-font.min.css" />
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body class="body-blue">
    <div class="page-wrapper d-flex">
      {{ content }}
    </div>

    <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
